@tailwind base;
@tailwind components;
@tailwind utilities;

.bulat{
    clip-path: circle(50% at 50% 50%);
}
.humberger-active {
    @apply rotate-90
}
.sticky{
    @apply fixed bg-white bg-opacity-5;
    backdrop-filter:blur(5px);
    box-shadow: inset 0px -1px 0 0 rgb(0, 0, 0,0.2)  ;
}
*{
    scroll-behavior: smooth;

}
